DATABASE_URL=postgresql://shahiapp_user:shahiapp_password@87.248.131.253:5432/abrai
REDIS_URL=redis://redis_cache:6379/0

JWT_SECRET=KdJWgiNEkvpwTKPPoSVgsmPVirNXNAlZuU4CoO2VOo2
JWT_EXP=3600

PUBLIC_BASE_URL=http://api.diyachat.ir/api/v1

OPENAI_API_KEY="OPENAPIKEY"
DEEPSEEK_API_KEY="DEEPSEELKEY"
IVIRA_API_KEY=IVIRAAPIKEY